.container{ 
             width:800px;
             height:90vh;
             margin-top:50px;
             padding:100px;
             background:rgb(142,34,195);
             background:linear-gradient(0deg,rgba(142,34,195,1)0%,rgba(2555,0,155,1)100%);
            }
   .FormBlock{
              width:550px;
              height:60vh;
              background-color:white;
              margin-top:30px;
              margin-right:40px;
              margin-left:40px;

              padding:60px 60px;
              box-shadow:5px 5px 5px 5px white;
         
              }